.background{
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


.background1
{
	background-image: linear-gradient(to right top, #3ac960, #00ca99, #00c7c8, #00c1e7, #00b7f2, #3bbaf4, #55bcf6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.background2
{
	background-image: radial-gradient(circle, #daa5d1, #e0afd0, #e4b9d0, #e6c3d2, #e6ced6, #e8cdd6, #eaccd6, #eccbd6, #f0bfd2, #f2b2d0, #f3a5cf, #f299cf);
}

.background3
{
	background-image: linear-gradient(to right bottom, #d9e74a, #c1ea52, #a7ec5e, #8bee6b, #6aef7b, #8fe767, #abde57, #c2d54d, #f8bb52, #ffa278, #ff96a7, #f299cf);
}

.background4
{
	background-image: linear-gradient(to right bottom, #edf886, #c2f895, #97f6ab, #6bf1c2, #3eead9, #32eadc, #22ebe0, #00ebe3, #00f4cd, #00faa7, #00fe71, #2cff00);
}

.background5
{
	background-image: linear-gradient(to right top, #87a5d1, #00c0ed, #00d8d8, #00e88f, #a8eb12);
}

.background6
{
	background-image: linear-gradient(to left bottom, #87a5d1, #00c0ed, #00d8d8, #00e88f, #a8eb12);
}

.background7
{
	background-image: linear-gradient(to right top, #b2b0dc, #56c8ff, #00e0f5, #00eea2, #a8eb12);
}

.background7:hover
{
	background-image: linear-gradient(to left bottom, #b2b0dc, #56c8ff, #00e0f5, #00eea2, #a8eb12);
}